{{#partial "page-header"}}
    <h1>Data <small>From the {{dataset}} dataset</small></h1>
{{/partial}}

{{#partial "content"}}
    <div class="table-responsive">
        <table class="table vertical-align-middle">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Predicate</th>
                    <th>Object</th>
                </tr>
            </thead>
            <tbody>
            {{#each data.results.bindings}}
                <tr>
                    <td><a href="/data/{{dataset}}/query/s/{{s.value}}">{{s.value}}</a></td>
                    <td><a href="/data/{{dataset}}/query/p/{{p.value}}">{{p.value}}</a></td>
                    <td><a href="/data/{{dataset}}/query/o/{{o.value}}">{{o.value}}</a></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}

{{> base}}